$Blue: hsl(223, 87%, 63%);
$White: hsl(0, 0%, 100%);

$PaleBlue: hsl(223, 100%, 88%);
$fadedPaleBlue: hsla(223, 100%, 88%, 0.5);
$LightRed: hsl(354, 69%, 58%);

$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);